body {
    background-color: #E0E7F7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-header {
    background-color: white;
    width: 400px;
    height: 150px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border: 1px solid black;
    border-radius:2%
}

#slideshow-container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
}

#main-image {
    height: 500px;
    width: auto;
}

#main-image-caption {
    height: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}